<div class="container-lg">
    <% include ./title %>
    <p class="lead mb-5">For further Informaiton about PADME, see the <a href="#">website</a></p>
    <% include ../partials/setupProgress %>
    <a href="?page=1"><button class="btn btn-primary btn-block">Start configuration</button></a>
</div>

