<div class="container-lg">
    <% include ./title %>
    <p>Please provide now a private/public key pair. You can alternatively generate one.</p>
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCustomKeys" aria-expanded="false" aria-controls="collapseCustomKeys">
          Use custom key-pair
        </button>
    </p>
    <div class="collapse mb-3" id="collapseCustomKeys">
        <div class="card card-body">
            <div class="input-group mb-3">
                <textarea class="form-control" placeholder="Public Key" id="custompublickey" aria-label="Public Key"></textarea>
            </div>
            <div class="input-group mb-3">
                <textarea class="form-control" placeholder="Private Key" id="customprivatekey" aria-label="Private Key"></textarea>
            </div>
            <button id="uploadCustomKeyPair" class="btn btn-primary" type="button" aria-expanded="false">
                Submit
            </button>
        </div>
    </div>
    <p class= mb-2>
        <button id="generateKeyPair" class="btn btn-primary" type="button" aria-expanded="false">
          Generate key-pair
        </button>
    </p>
    <div id="pubKeyContainer" class="mb-3" hidden="True">
        <p>Below is the public key of the generated Key pair. </p>
        <p><textarea id="publicKey" style="width: 75%; height: 100px;"></textarea></p>
    </div>
    <p id="messagePlaceholder" class="mb-3"></p>
    <% include ../partials/setupProgress %>
    <a href="?page=4"><button id="next" class="btn btn-primary btn-block" disabled>Next Step</button></a>

    <script>
        const customKeyPairRoute = "/setup/keys"
        const generateKeyPairRoute = "/setup/generateKeys" 

        function setMessage(msg) {
            document.getElementById('messagePlaceholder').innerHTML = msg
        }

        function activeNextStep() {
            const nbtn = document.getElementById('next');
            nbtn.disabled = false
        }

        function showError(errorMsg){
            alert(errorMsg);
        }

        const btn = document.getElementById('uploadCustomKeyPair');
        btn.addEventListener('click', async () => {
            const privateKey = document.getElementById('customprivatekey').value.replaceAll('\\n', '\n');
            const publicKey = document.getElementById('custompublickey').value.replaceAll('\\n', '\n');
            if (privateKey=="" || publicKey=="") {
                return
            }
            return fetch(customKeyPairRoute, {
                headers: {
                'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({privateKey, publicKey})
            })
            .then(res => {
                console.log("reiceived answer")
                if (!res.ok)
                    throw new Error('Something went wrong');
                if(res.status==200) {
                    setMessage("Custom Keypair uploaded!")
                    activeNextStep()
                }
            })
            .catch(err => {
                console.log(err);
                showError(err.message);
                // rej not defined ?  - need to be approved by Laurenz
                // rej("error while uploading keypair")
            })
        })

        const btn2 = document.getElementById('generateKeyPair');
        btn2.addEventListener('click', async () => {
            return fetch(generateKeyPairRoute, {
                method: 'POST'
            })
            .then(res => {
                if (!res.ok)
                    throw new Error('Something went wrong');
                return res.json()
            })
            .then(json => {

                console.log(JSON.stringify(json))
                if ("publicKey" in json) {
                    const publicKeyArea = document.getElementById('publicKey')
                    document.getElementById('pubKeyContainer').hidden = false
                    publicKeyArea.value = json.publicKey
                    activeNextStep()
                }
            })
            .catch(err => {
                console.log(err);
                showError(err.message);
            })
        })
    </script>
</div>

