<div class="container-lg">
    <% include ./title %>
    <p class="mb-3"> Please reset your tempory password with the link below. After that enter the new password.</p>
    <p> Use the following temporary credentials for signing in:</p>
    <p>Username: <span id="usernamecontainer"><%= username %></span></p>
    <p>Password: <span id="temporarypassowrdcontainer"><%= temp_password %></span></p>
    <blockquote class="blockquote text-center">
        <a id="resetPasswordAnchor" target="_blank">
            <button id="resetpasswordbtn" class="btn btn-warning">Reset Password</button>
        </a>
    </blockquote>
    <p>Below, enter your new password.</p>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="New password" id="newpassword" aria-label="New password">
    </div>
    <button class="btn btn-primary btn-block" id="setPasswordBtn">Set new password</button>
    <p id="messagePlaceholder" class="mb-3"></p>
    <% include ../partials/setupProgress %>
    <a href="?page=3"><button id="next" class="btn btn-primary btn-block" disabled>Next Step</button></a>
</div>
<script>

    function activeNextStep() {
        const nbtn = document.getElementById('next');
        nbtn.disabled = false
    }

    function showError(errorMsg) {
        alert(errorMsg);
    }


    // Comment out - it triggers browser popup error - need to be approved by Laurenz
    // add event listener for button click
    // const btn = document.getElementById('resetpasswordbtn');
    // const PASSWORD_RESET_URL = ""
    // btn.addEventListener('click', async () => {
    //     window.open(PASSWORD_RESET_URL, '_blank');
    // });

    const PASSWORD_UPLOAD_ROUTE = "/setup/HarborPassword"
    async function uploadPassword() {
        const new_password = document.getElementById('newpassword').value
        return fetch(PASSWORD_UPLOAD_ROUTE, {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({ new_password })
        }).then(result => {

            if (!result.ok)
                throw new Error('Something went wrong');

            document.getElementById('messagePlaceholder').innerHTML = "Password updated!"
            activeNextStep()
            return Promise.resolve()
        }).catch(err => {

            console.log(err);
            console.log("error while uploading password");
            showError(err.message);

        })

    }
    document.getElementById('setPasswordBtn').addEventListener('click', uploadPassword)

    function getCentralKeyCloakAuthPath() {

        let protocol = 'https';
        let authServer = new URL('/auth/realms/pht/account', `${protocol}://${'<%= process.env.AUTH_SERVER_ADDRESS %>'}`);
        authServer.port = '<%= process.env.AUTH_SERVER_PORT %>';
        return authServer.toString();

    }

    const resetPasswordAnchor = document.getElementById('resetPasswordAnchor');
    resetPasswordAnchor.href = getCentralKeyCloakAuthPath();

</script>