<div class="container-lg">
    <% include ./title %>
    <p>Click below to apply the configuration. You will be redirected to the login.</p>
    <p>Note: After completing the setup, the main programm needs to start first. This can take a few seconds.</p>
    <% include ../partials/setupProgress %>
    <button id="complete" class="btn btn-primary btn-block">Complete Setup</button>
    <blockquote class="blockquote text-center">
        <div class="spinner-border mt-3" role="status" hidden="True" id="redirectSpinner">
            <span class="sr-only">Loading...</span>
        </div>
    </blockquote>
    <script>
            const delay = ms => new Promise(res => setTimeout(res, ms));
            const btn = document.getElementById('complete');
            btn.addEventListener('click', async () => {
                console.log("send complete trigger...")
                await fetch('/setup/complete', {
                    method: 'POST'
                })
                console.log("Redirect to main page...")
                document.getElementById('complete').disabled=true
                document.getElementById('redirectSpinner').hidden = false
                await delay(10000)
                document.getElementById('complete').disabled=false
                document.getElementById('redirectSpinner').hidden = true
                window.location.href = '../'
                document.getElementById('complete').innerHTML = "Redirect did not seemed to work. Go to root dir."
            })
    </script>
</div>

