<div class="container-lg">
    <% include ./title %>
    <div style="min-height: 175px;">
        <p class="mb-3">Please upload the configuration file you were provided by email and enter the corrosponding OTP for decrypting the file</p>

        <label for="filepassword">Your OTP for decrypting the file:</label>
        <div class="input-group mb-3">
            <input type="password" class="form-control" id="filepassword">
        </div>
        <div class="input-group mb-5 mt-5">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="envfile" aria-describedby="upload">
                <label class="custom-file-label" for="envfile">Choose file</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="upload">Upload & decrypt</button>
            </div>
        </div>
        <textarea id="log" style="width: 100%; height: 180px" readonly="readonly" hidden></textarea>
    </div>
    <% include ../partials/setupProgress %>
    <a href="?page=2"><button id='next' class="btn btn-primary btn-block" disabled>Next Step</button></a>
</div>
<script>
    const UPLOAD_ENCRYPT_ROUTE = '/setup/confupload'
    const MESSAGE_HOOK_ROUTE = '/setup/messagehook'
    const PASSWORD_UPLOAD_ROUTE = '/setup/otp'


    const delay = ms => new Promise(res => setTimeout(res, ms));

    document.getElementById('log').value = ""
    function logToUser(text) {
        const logfield = document.getElementById('log');
        logfield.hidden = false

        logfield.value += String(text.slice(-1) == '\n' ? String(text) : String(text) + '\n' )
    }
    function activeNextStep() {
        const nbtn = document.getElementById('next');
        nbtn.disabled = false
    }

    var fetchMessagesLoopRunning = false
    async function fetchMessagesLoop() {
        if (fetchMessagesLoopRunning) {
            return
        }
        fetchMessagesLoopRunning = true
        while(true) {
            await delay(1000)
            fetch(MESSAGE_HOOK_ROUTE)
            .then(respond => respond.json())
            .then(json => {
                if(json.messages!==[]) {
                    json.messages.map(logToUser)
                }
            }).catch(err => {
                console.log(err)
            })
        }
        
    }

    async function uploadFile() {
        document.getElementById('log').value = ""
        // upload and decrypt the file, then enable the next step if this was successfull
        if(!document.getElementById('envfile').files.length>0) {
            logToUser("No file specified!")
            return Promise.reject()
        }
        const file = document.getElementById('envfile').files[0]
        const fd = new FormData();
        fd.append('envfile', file)
        fetch(UPLOAD_ENCRYPT_ROUTE, {
                method: 'POST',
                body: fd
        })
        .then(async res => {
            if (res.status == 200) {
                // delay so we can wait for answered from the server side
                await delay(2000)
                logToUser("Step completed, please proceed now to the next step.")
                activeNextStep()
            }
        })
        .catch(err => console.log(err))
        
    }

    async function uploadPassword() {
        const password = document.getElementById('filepassword').value
        new Promise((res, rej) => {
            fetch(PASSWORD_UPLOAD_ROUTE, {
                headers: {
                'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({otp: password})
            }).then(
                res()
            ).catch(err => {
                console.log(err)
                rej("error while uploading password")
            })
        })
        
    }

    // add event listener for button click
    const btn = document.getElementById('upload');
    btn.addEventListener('click', async () => {
        logToUser("Starting decryption process...")
        fetchMessagesLoop()
        await uploadPassword()
        uploadFile()
    })

</script>

