<% include ./nav.ejs%>
<main class="col-12 float-left col px-5 px-md-3 py-3 main">
    <h1 class="display-3 hidden-xs-down">
        Error
</h1>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= errormessage%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
</div>

<script>
    function Sleep(milliseconds) {
        return new Promise(resolve => setTimeout(resolve, milliseconds));
    }
    document.addEventListener('DOMContentLoaded', () => {
        wakeUP();
    })

    async function wakeUP() {
        await Sleep(2000);
        history.back();
    }
</script>