<div class="progress mt-3 mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= page %>" style="width: <%= (page/(numofpages-1))*100 %>%" aria-valuemin="1" aria-valuemax="<%= numofpages-1 %>"><%= page %>/<%= numofpages-1 %></div>
</div>