<!-- Nav -->
<%- include('partials/nav', {active: "notifications"}); %>

<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-md-10 float-left col px-5 px-md-3 py-3 main">
            <h1 class="display-3 hidden-xs-down">
                Dashboard
            </h1>

        </main>
    </div>
</div>