<!-- Nav -->
<%- include('partials/nav', {active: "containers"}); %>

<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-12 float-left col px-5 px-md-3 py-3 main">
            <h1 class="display-3 hidden-xs-down">
                Dashboard
            </h1>
            <% include ./partials/messages %>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Containers</h6>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id</th>
                                <th scope="col">Train ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Image</th>
                                <th scope="col">State</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="w-operations-btn">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < containers.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td><%= containers[i].Id.substring(0, 13) %></td>
                                <td class="break-word w-40vw font-weight-bold"><%= containers[i].TrainClassId %></td>
                                <td class="break-word w-15vw"><%= containers[i].Name %></td>
                                <td class="break-word w-20vw"><%= containers[i].Image %></td>
                                <td><%= containers[i].State %></td>
                                <td><%= containers[i].Status %></td>
                                <td>
                                    <% if(containers[i].State === "exited"){ %>
                                        <a href="<%='/docker/container/commit?container=' + containers[i].Id.substring(0, 13) + '&repo=' + containers[i].Repo + '&tag=' +containers[i].NextTag + '&image=' + containers[i].Image + '&jobId=' + containers[i].JobId %>"
                                        class="btn btn-primary my-2 my-sm-0 btn-block" >Save Updates</a>
                                    <a href="<%='/docker/container/remove?container=' + containers[i].Id.substring(0, 13) + '&jobId=' + containers[i].JobId %>"
                                        class="btn btn-danger my-2 my-sm-0 btn-block">Remove</a>
                                    <button onclick="showLogsModal('<%= containers[i].Id.substring(0, 13) %>')" 
                                        class="btn btn-secondary my-2 my-sm-0 btn-block">Logs</button>
                                    <button onclick="showContainerChangesModal('<%= containers[i].Id.substring(0, 13) %>', '<%= containers[i].JobId %>')" 
                                        class="btn btn-info my-2 my-sm-0 btn-block">Changes</button>
                                    <% } else if (containers[i].State === "running"){ %>
                                    <% } else{ %> 
                                    <a href="<%='/docker/container/start?container=' + containers[i].Id.substring(0, 13) + '&jobId=' + containers[i].Name%>"
                                        class="btn btn-primary my-2 my-sm-0 btn-block">Start</a>
                                        <a href="<%='/docker/container/remove?container=' + containers[i].Id.substring(0, 13) + '&jobId=' + containers[i].JobId %>"
                                        class="btn btn-danger my-2 my-sm-0 btn-block">Remove</a>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
    </div>
</div>

<div class="modal fade" id="logsModal" tabindex="-1" role="dialog" aria-labelledby="logsModalLabel" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logsModalLabel">Container Logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="logsContent" style="max-height:60vh;">
                    <!--LOGS-->
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="containerChangesModal" tabindex="-1" role="dialog" aria-labelledby="containerChangesModalLabel" aria-hidden="true"
    >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="containerChangesModalLabel">Container Changes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header border-bottom-0">
                <div class="row">
                    <div class="col">
                        <kbd class="bg-warning">Modified</kbd>
                    </div>
                    <div class="col">
                        <kbd class="bg-success">Added</kbd>
                    </div>
                    <div class="col">
                        <kbd class="bg-danger">Deleted</kbd>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="max-height:60vh; overflow-y: auto;">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-list-tab" data-toggle="tab" href="#nav-change-list" role="tab" aria-controls="nav-change-list" aria-selected="true">List</a>
                      <a class="nav-item nav-link" id="nav-compare-tab" data-toggle="tab" href="#nav-change-compare" role="tab" aria-controls="nav-change-compare" aria-selected="false">Compare</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-change-list" role="tabpanel" aria-labelledby="nav-change-list-tab">
                        <div id="treeView" class="container tree-view-container mt-2"></div>
                    </div>
                    <div class="tab-pane fade" id="nav-change-compare" role="tabpanel" aria-labelledby="nav-change-compare-tab">
                        <div id="compareView" class="container mt-2">
                            <h2 id="compareViewLoading">Analyzing <i class="fas fa-spinner fa-pulse"></i></h2>
                            <h1 id="compareViewFail" class="d-none">Something went wrong <i class="fas fa-times"></i></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="jobResultItemModal" tabindex="-1" role="dialog" aria-labelledby="jobResultItemModalLable" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="jobResultItemHeader"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="jobResultItemContent">

                </div>

                <div id="csvContent">
                    <nav id="csvNavs">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-list-tab" data-toggle="tab" href="#nav-csv-table" role="tab" aria-controls="nav-csv-table" aria-selected="true">Table</a>
                          <a class="nav-item nav-link" id="nav-compare-tab" data-toggle="tab" href="#nav-csv-plot" role="tab" aria-controls="nav-csv-plots" aria-selected="false">Plots</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-csvContent" style="margin-top: 10px;">
                        <div class="tab-pane fade show active" id="nav-csv-table" role="tabpanel" aria-labelledby="nav-csv-table-tab">
                            <div id="csvTable" class="table-responsive">
                                <table class="table table-sm table-bordered table-striped table-hover compact">
                                    <thead id="csvTableHeader" class="thead-dark">
                                    </thead>
                                    <tbody id="csvTableBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-csv-plot" role="tabpanel" aria-labelledby="nav-csv-plots-tab">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelectX">x-axis</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelectX" required>
                                </select>
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelectY">y-axis</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelectY" required>
                                </select>
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="selectVisualization">visualization type</label>
                                </div>
                                <select class="custom-select" id="selectVisualization">
                                    <option value="line">Line</option>
                                    <option value="scatter">Scatter</option>
                                    <option value="bar">Bar</option>
                                </select>
                                <button class="btn btn-outline-primary" onclick="buildPlot()">
                                  Build Plot
                                </button>
                            </div>
                            <canvas id="plotCanvas"></canvas>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a id="jobResultItemDownloadLink">
                    <div id="jobResultItemDowloadButton" class="btn btn-primary" type="button">Download</div>
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    let csvData;

    function showLogsModal(containerId) {
        $.get(`/docker/container/logs?container=${containerId}`, function (data) {
            try {
                data = JSON.parse(data);
            } catch (e) {
                alert("error");
                location.reload();
                return;
            }
            $('#logsModal').find('#logsContent').html(data);
            $('#logsModal').modal('show')
        });
    }

    function showContainerChangesModal(containerId, jobId) {

        // TREE VIEW TAB
        let treeTabReq = $.get(`/docker/container/changes?container=${containerId}`, function (data) {

            try {
                data = JSON.parse(data);
            } catch (e) {
                alert("error");
                location.reload();
                return;
            }

            let rootUl = document.createElement('ul');

            if (data && data.length)
                rootUl.appendChild(traversePathTree(data[0], containerId, jobId));
            console.log(rootUl);

            $('#containerChangesModal').find('#treeView').html(rootUl);
            $('#containerChangesModal').modal('show')
        }).fail(function (error) {
            console.log(error);
            alert("An error occurred while loading the changes.");
        });

        // COMPARE TAB
        let compareTabReq = $.get(`/docker/container/compare?container=${containerId}&jobId=${jobId}`, function (diffHtml) {

            $('#containerChangesModal').find('#compareView').html(diffHtml);

        }).fail(function (error, exception) {
            
            if (exception !== 'abort') {
                console.log(error);
                alert("An error occurred in the comparison.");
            }

            $('#containerChangesModal').find('#compareViewLoading').addClass("d-none");
            $('#containerChangesModal').find('#compareViewFail').removeClass("d-none");
        });

        $("#containerChangesModal").on("hidden.bs.modal", function () {

            // Abort requests
            treeTabReq.abort()
            compareTabReq.abort()

            // Clear the view
            $('#containerChangesModal').find('#treeView').html("");
            $('#containerChangesModal').find('#compareView').html(`<h2 id="compareViewLoading">Analyzing <i class="fas fa-spinner fa-pulse"></i></h2><h1 id="compareViewFail" class="d-none">Something went wrong <i class="fas fa-times"></i></h1>`);

        });
    }

    function showJobResultItemModal(node, containerId, jobId) {
        $('#jobResultItemModal').addClass('modal-dialog-scrollable');
        $('#jobResultItemModal').find('#csvContent').hide();

        let loading = true;
        $('#jobResultItemModal').find('#jobResultItemHeader').text(node.name);
        $('#jobResultItemModal').find('#jobResultItemContent')
            .html(`<h4 id="jobResultItemLoading">Loading <i class="fas fa-spinner fa-pulse"></i></h4>`);
        $('#jobResultItemModal').find('#jobResultItemDownloadLink')
            .attr('href', `/docker/container/archive?container=${node.containerId}&path=${node.path}`);
        $('#jobResultItemModal').find('#jobResultItemDowloadButton').addClass('disabled');

        const imageExtensionRegex = (/\.(gif|jpe?g|tiff?|png|webp|bmp)$/i); 
        const textFileExtensionRegex = (/\.(txt|csv)$/i);

        if (imageExtensionRegex.test(node.path)) {
            const resultItemImage = document.createElement('img');
            resultItemImage.src = `/docker/container/file?jobId=${jobId}&container=${containerId}&compareFilePath=${node.path}`;
            resultItemImage.alt = node.path;
            resultItemImage.classList.add('img-fluid');
            $('#jobResultItemModal').find('#jobResultItemContent').html(resultItemImage);
            $('#jobResultItemModal').find('#jobResultItemDowloadButton').removeClass('disabled');
        } else if (textFileExtensionRegex.test(node.path)) {
            $.get(`/docker/container/compare?container=${containerId}&jobId=${jobId}&compareFilePath=${node.path}`, function (result) {
                let resultString = "";
                result.forEach(diff => {
                    diff.blocks.forEach(block => {
                        block.lines.forEach(line => {
                            if (line.type === "insert") {
                                resultString = resultString.concat(line.content.slice(1)).concat("\n");
                            }
                        });
                    });
                });

                try {
                    if (node.path.endsWith('.csv')) {
                        $('#jobResultItemModal').find('#csvContent').show();
                        csvData = Papa.parse(resultString, { header: true, skipEmptyLines: true });
                        buildCsvTable(csvData.meta.fields, csvData.data);
                        populatePlotConfigs(csvData.meta.fields);
                        $('#jobResultItemModal').find('#jobResultItemContent').html('');
                    } else {
                        $('#jobResultItemModal').find('#jobResultItemContent').html(`<p>${resultString}</p>`);
                    }
                } catch (error) {
                    console.log(`Error while parsing text ${error}`);
                    $('#jobResultItemModal').find('#csvContent').hide();
                    $('#jobResultItemModal').find('#jobResultItemContent')
                        .html(`<h4 id="jobResultItemViewFail" class="d-none">Something went wrong <i class="fas fa-times"></i></h4>`);
                }

                

                $('#jobResultItemModal').find('#jobResultItemDowloadButton').removeClass('disabled');
            }).fail( function (error, exception) {
                console.error(error);
                console.log(`Exception: ${exception}`);
                $('#jobResultItemModal').find('#jobResultItemContent')
                    .html(`<h4 id="jobResultItemViewFail" class="d-none">Something went wrong <i class="fas fa-times"></i></h4>`);
                $('#jobResultItemModal').find('#jobResultItemDowloadButton').removeClass('disabled');
            });
        } else {
            $('#jobResultItemModal').find('#jobResultItemContent')
                .html(`<h5 id="jobResultItemViewFail">In browser visualization not supported <i class="fas fa-exclamation-triangle"></i>. Please download and view.</h5>`);
                $('#jobResultItemModal').find('#jobResultItemDowloadButton').removeClass('disabled');
        }
        
        $('#jobResultItemModal').modal('show');

        // Clean up on modal close
        $('#jobResultItemModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $(this).removeClass('modal-dialog-scrollable');
            csvData = null;
        });
    }

    function traversePathTree(node, containerId, jobId) {
        //process current node here
        let li = document.createElement('li');
        let a = document.createElement('a');
        // a.download = `${node.containerId}_${node.path.replaceAll("/","_")}.tar`
        a.append(node.name);

        //visit children of current
        if (node.children.length) {
            //details and summarry elements allow for the folders to be collapsed
            let details = document.createElement('details');
            let summary = document.createElement('summary');
            summary.innerHTML = `<i class="fas"></i> <i class="fas fa-folder text-${getKindColor(node.kindCode)}"></i> `;
            summary.append(a);
            details.appendChild(summary);

            li.appendChild(details);
            
            let ul = document.createElement('ul');
            for (var index in node.children) {
                let childItem = traversePathTree(node.children[index], containerId, jobId);
                ul.appendChild(childItem);
            }

            details.appendChild(ul);
        }
        else {
            let span = document.createElement('span');
            span.innerHTML = `<i class="fas fa-file text-${getKindColor(node.kindCode)}"></i> `;
            a.onclick = () => showJobResultItemModal(node, containerId, jobId);
            a.style.cursor = "pointer";
            span.append(a);
            li.appendChild(span);

        }

        return li;
    }

    function getKindColor(kind) {
        switch (kind) {
            //Modified
            case 0:
                return 'warning'
                break;
            //Added
            case 1:
                return 'success'
                break;
            //Deleted
            case 2:
                return 'danger'
                break;
        }
    }

    function buildCsvTable(csvHeaders, csvData) {
        const tHeadRow = document.createElement('tr');
        console.log(tHeadRow);
        csvHeaders.forEach(header => {
            tHeadRowItem = document.createElement('th');
            tHeadRowItem.innerHTML=header;
            tHeadRow.appendChild(tHeadRowItem);
        });
        const csvTableHeader = $('#jobResultItemModal').find('#csvTableHeader');
        csvTableHeader.html(tHeadRow);

        const tableRows = [];
        csvData.forEach(dataItem => {
            const tableRow = document.createElement('tr');
            Object.values(dataItem).forEach(value => {
                const tData = document.createElement('td');
                tData.innerHTML = value
                tableRow.appendChild(tData);
            });
            tableRows.push(tableRow);
        });
        const csvTableBody  = $('#jobResultItemModal').find('#csvTableBody');
        csvTableBody.html(tableRows);
    }

    function populatePlotConfigs(csvHeaders) {
        const inputX = $('#jobResultItemModal').find('#inputGroupSelectX');
        const inputY = $('#jobResultItemModal').find('#inputGroupSelectY');
        csvHeaders.forEach(header => {
            const option = document.createElement('option');
            option.innerHTML = header;
            option.value = header;
            inputX.append(option);
            inputY.append(option.cloneNode(true));
        });
    }

    function buildPlot() {
        try {
            const field1 = $('#jobResultItemModal').find('#inputGroupSelectX option:selected').val();
            const field2 = $('#jobResultItemModal').find('#inputGroupSelectY option:selected').val();
            const vizType = $('#jobResultItemModal').find('#selectVisualization option:selected').val();

            const colors = ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(75, 192, 192)', 'rgb(153, 102, 255)','rgb(255, 159, 64)'];
            const backgroundColors = ['rgb(255, 99, 132, 0.2)', 'rgb(54, 162, 235, 0.2)', 'rgb(75, 192, 192, 0.2)', 'rgb(153, 102, 255, 0.2)','rgb(255, 159, 64, 0.2)'];
            const colorIndex = Math.floor(Math.random() * 5);
            const chartStatus = Chart.getChart('plotCanvas');
            if (chartStatus != undefined) {
                chartStatus.destroy();
            }

            const ctx = $('#jobResultItemModal').find('#plotCanvas');
            
            const dataset = csvData.data.map((o) => {return {x: o[field1], y: o[field2]}});
            const chartData = {
                datasets: [{
                    label: `${field1} vs ${field2}`,
                    data: dataset,
                    backgroundColor: backgroundColors[colorIndex],
                    borderColor: colors[colorIndex],
                    borderWidth: 1
                }]
            };
            const vizChart = new Chart(ctx, {
                type: vizType,
                data: chartData,
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: field1
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: field2
                            }
                        }
                    }
                }
            });
        } catch (error) {
            console.log(`Error while building plot ${error}`);
            $('#jobResultItemModal').find('#jobResultItemContent')
                    .html(`<h4 id="jobResultItemViewFail" class="d-none">Something went wrong <i class="fas fa-times"></i></h4>`);
        }
        
    }
</script>
