<!-- Nav -->
<%- include('partials/nav', {active: "dashboard"}); %>

  
<body>  
  
<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-12 float-left col px-5 px-md-3 py-3 main">
            <h1 class="display-3 hidden-xs-down">
                Dashboard
            </h1>
            <% include ./partials/messages %>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Recent Train Request</h6>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Train ID</th>
                                <th scope="col">Location</th>
                                <th scope="col">PID</th>
                                <th scope="col">Current</th>
                                <th scope="col">Next</th>
                                <th scope="col" class="w-operations-btn">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < trains.length; i++) { %>
                            <tr id="train-<%= trains[i].jobid %>">
                                <th scope="row"><%= i+1 %></th>


                                <td class='break-word w-50vw font-weight-bold'><%= trains[i].trainclassid %>
                                    <p id="progress-bar-text-<%= trains[i].jobid %>" ></p>  
                                <div class="progress" id="progress-<%= trains[i].jobid %>"  style="display: none;">
                                    <div id="progress-bar-<%= trains[i].jobid %>" class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:1%">
                                     </div>
                                    </div>
                                </td> 


                                <td class="break-word w-30vw"><%= trains[i].trainstoragelocation %></td>
                                <td><%= "pid" in trains[i] ? trains[i].pid : "None" %></td>
                                <td><%= trains[i].currentstation %></td>
                                
                                <td><%= trains[i].nextstation %></td>
                                <td id="buttons-td-<%= trains[i].jobid %>">
                                    <a href="<%='/dashboard/reject?jobid='+trains[i].jobid%>" class="btn btn-danger float-right my-2 my-sm-0 btn-block">Rejection</a>
                                    
                                    <button onclick="pullTrain('<%= JSON.stringify(trains[i]) %>')" 
                                        class="btn btn-primary float-right my-2 my-sm-0 btn-block">Pull Image</button> 
                                </td>
                                </body>
                                </html>


                                <td id="pulling-status-td-<%= trains[i].jobid %>" class="d-none">

                                    <div class="fa-3x text-center">
                                        <i class="fas fa-spinner fa-pulse" id="pulse-icon-<%= trains[i].jobid %>"></i>
                                        <i class="fas fa-check d-none" style="color:green" id="check-icon-<%= trains[i].jobid %>"></i>
                                    </div>

                                </td>
                            </tr>
                            <tr id="train-progress-bar-<%= trains[i].jobid %>"></tr>
                            <tr id="pulling-logs-tr-<%= trains[i].jobid %>" class="d-none">
                                <td colspan="6">
                                    <pre id="pulling-logs-pre-<%= trains[i].jobid %>" style="font-size: 0.85vw; max-height: 100px;overflow-y: auto;"></pre>
                                </td>
                            </tr>
                            <% } %>
                            
                        </tbody>
                    </table>
                    
                </div>
            </div>

        </main>
    </div>
</div>

<script>
    
 

    var pullingFsLayers = [];
    
    function handleFsLayers(logs,jobid)
    {  
        logs = logs.split("\n");
        for (i=0;i<logs.length-1;i++)
        {  
           let log = JSON.parse(logs[i]);
         
          
           if(log["status"]=="Pulling fs layer")
           {
                if(pullingFsLayers && pullingFsLayers.length!=0)
                {
                    let alreadyExist=false;
                       for (j=0;j<pullingFsLayers.length;j++)
                       {
                        
                           if(pullingFsLayers[j][0] === [log["id"]][0])
                           {
                            alreadyExist=true;
   
                           }   
                       }
                       if(!alreadyExist)
                       {
                        console.log("Fs layer initialized",[log["id"]]);
                        //log["id"]= fs layers id; [0,-1,-1]= first index represents flag of completion (0-not completed, 1-complete, )
                        // second index represents current download, third index represnts total size of layers
                        pullingFsLayers.push([log["id"],[0,-1,-1]]);
                       }
                       
                }
                else
                {
                    console.log("Fs layers length zero");
                    pullingFsLayers.push([log["id"],[0,-1,-1]]);
                    
                }
           }

           if(log["progressDetail"])
           {
            console.log("progressdetails found");
               for (j=0;j<pullingFsLayers.length;j++)
                {
                    let layerID=pullingFsLayers[j][0];
                    let logID=[log["id"]][0];
                    
                    if(layerID.localeCompare(logID)==0)
                        {
                                console.log("pulling fs layers ID",layerID,logID,layerID.localeCompare(logID));
                                if(log.progressDetail["current"])
                                    {
                                        let current=log.progressDetail.current;
                                        let total=log.progressDetail.total;
                                        console.log("current and total",current,total,pullingFsLayers[j]);
                                        console.log("status",pullingFsLayers[j], log["status"]);
                                        if((log["status"]=="Downloading") && (current!=total)) 
                                            {
                                                console.log("current not equal total",pullingFsLayers[j][1][1]);
                                                if(current>pullingFsLayers[j][1][1])           
                                                    {
                                                        pullingFsLayers[j][1][1]=current;
                                                        if(pullingFsLayers[j][1][2]==-1)
                                                        {
                                                            pullingFsLayers[j][1][2]=total;
                                                        }
                                                        
                                                        console.log("new current",pullingFsLayers[j][1][1]);
                                                        console.log("new current",pullingFsLayers[j][1][2]);
                                                    }
                                            }
                                        else if(((log["status"]=="Download complete") || (current==total)) &&  (pullingFsLayers[j][1][0] == 0))
                                            {
                                                pullingFsLayers[j][1][1]=total;
                                                pullingFsLayers[j][1][2]=total;
                                                pullingFsLayers[j][1][0]=1;
                                                console.log("Pulling fs layers completed",pullingFsLayers[j][1][0],pullingFsLayers[j]);

                                            }
                         
                                    } 
                                    else if(log["status"]=="Download complete")
                                    {
                                        pullingFsLayers[j][1][1]=pullingFsLayers[j][1][2];
                                        pullingFsLayers[j][1][0]=1;
                                    }
                        }
                }
            }                           
                                
       }

     updateProgressBar(jobid);
    }

    
    

    function modeToggle(mode, train) {

        //0 init 1 pulling 2 complete

        if (mode === 0) {//init

            //hide logs
            const trElm = document.getElementById(`pulling-logs-tr-${train.jobid}`);
            trElm.classList.add("d-none");
            //unhide buttons
            const buttonsTdElm = document.getElementById(`buttons-td-${train.jobid}`);
            buttonsTdElm.classList.remove("d-none");
            //hide status icon
            const statusTdElm = document.getElementById(`pulling-status-td-${train.jobid}`);
            statusTdElm.classList.add("d-none");
        }

        else if (mode === 1) {//pulling

            //unhide logs
            const trElm = document.getElementById(`pulling-logs-tr-${train.jobid}`);
            trElm.classList.remove("d-none");
            //hide buttons
            const buttonsTdElm = document.getElementById(`buttons-td-${train.jobid}`);
            buttonsTdElm.classList.add("d-none");
            //unhide status
            const statusTdElm = document.getElementById(`pulling-status-td-${train.jobid}`);
            statusTdElm.classList.remove("d-none");

        }
        else if (mode === 2) {//complete

            //show check icon
            const pulseIconElm = document.getElementById(`pulse-icon-${train.jobid}`);
            pulseIconElm.classList.add("d-none");
            const checkIconElm = document.getElementById(`check-icon-${train.jobid}`);
            checkIconElm.classList.remove("d-none");
            //flash train row
            const trElm = document.getElementById(`train-${train.jobid}`);
            trElm.classList.add("success_flash");
        }

    }
   



    function updateProgressBar(jobid)
    {
        let totalFsLayers = pullingFsLayers.length;
        let totalPercentageCompleted=0;
        let totalFsLayersCompleted=0;
        console.log("total fs layers length",pullingFsLayers.length);
        for (j=0;j<totalFsLayers;j++)
                       {
                        if(pullingFsLayers[j][1][0]==1)
                           {
                            totalFsLayersCompleted++;
                           }

                           if(pullingFsLayers.length!=totalFsLayersCompleted)
                           {
                               //totalPercentageCompleted = (id1+id+...idn)/numberoftotalid
                               if(pullingFsLayers[j][1][1] != -1)
                               {
                                let singleFsLayersCompleted = (pullingFsLayers[j][1][1]/pullingFsLayers[j][1][2]) * 100;
                            console.log("single FSlayer percent completed",singleFsLayersCompleted,pullingFsLayers[j],pullingFsLayers[j][1][1], pullingFsLayers[j][1][2] );
                             totalPercentageCompleted += (pullingFsLayers[j][1][1]/pullingFsLayers[j][1][2]) * 100;
                             console.log("total percent completed",totalPercentageCompleted);
                               }
                            
                           }
                         
                       }


            console.log("total fs layers completed",totalFsLayersCompleted);
            //((totalCompleted/totalSize)* 100)=all fs layers size upto how much completed   
            //((((totalCompleted/totalSize)* 100)/totalFsLayers) * 100) = all fs layers size upto how much completed  / totalFsLayers
            let progress = Math.ceil(totalPercentageCompleted/totalFsLayers);
            console.log("total progress",progress);
            let progressbar= document.getElementById('progress-bar-'+jobid);
            let progreebartext= document.getElementById('progress-bar-text-'+jobid);
            console.log('progress-bar-'+jobid);

            if(progressbar)
            {
                console.log(progressbar.innerHTML);
                progreebartext.innerHTML = "("+totalFsLayersCompleted+"/"+totalFsLayers+") layers download completed";
                progressbar.style.width = progress + "%";
                progressbar.innerHTML = progress + "%";
            }
        }    
    

function pullTrain(train) {
       
       train = JSON.parse(train);
       const progressstatus = document.getElementById(`progress-${train.jobid}`);
       if(progressstatus)

       progressstatus.style.display="block";
       //pulling
       modeToggle(1, train)

       const url = `/docker/image/pull?jobid=${train.jobid}&trainstoragelocation=${train.trainstoragelocation}&trainclassid=${train.trainclassid}&currentstation=${train.currentstation}&nextstation=${train.nextstation}`;
       const regex = /\\u([\d\w]{4})/gi;

       var xhr = new XMLHttpRequest()
       xhr.open("GET", url, true)

       xhr.onerror = function (e) {
           console.log(e);
           alert("Error");
       }
       xhr.onprogress = function (e) {
           const element = document.getElementById(`pulling-logs-pre-${train.jobid}`);
           const logs = xhr.responseText.replace(regex, function (match, grp) {
               return String.fromCharCode(parseInt(grp, 16));
           });
           element.innerText += logs;
           element.scrollTop = element.scrollHeight;
           
           console.log(logs);
           handleFsLayers(logs,train.jobid);

       }
       xhr.onloadend = function (e) {
           if (e.target.status === 200) {

               //complete
               modeToggle(2, train);
               window.location.replace("/dashboard/images");
           }
           else {

               if (e.target.statusText)
                   alert(e.target.statusText);

               //init    
               modeToggle(0, train)
           }
       }
       xhr.send();
   }

</script>