<!-- Nav -->
<%- include('partials/nav', {active: "images"}); %>

<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-md-10 float-left col px-5 px-md-3 py-3 main">
            <h1 class="display-3 hidden-xs-down">
                Create a container
            </h1>
            <% include ./partials/messages %>
            <form action="/docker/container/create" method="POST" class="was-validated">

                <div class="form-group">
                    <label for="image" class="col-form-label"><%=image%></label>
                    <input type="hidden" id="image" name="image" value="<%=image%>">
                </div>
                <div class="form-group">
                    <label for="jobId" class="col-form-label"><%=jobId%></label>
                    <input type="hidden" id="jobId" name="jobId" value="<%=jobId%>">
                </div>
                <h3>Environment Variables</h3>
                <div class="form-group">
                    <% for (var i in envVariableList){%>
                        <div class="form-row mb-2">
                            <div class="col">
                                <% if (i==0) { %>
                                    <label for="envName<%=i%>">Environment Variable</label>
                                    <% } %>
                                        <input id="envName<%=i%>" type="text" class="form-control" placeholder="Name"
                                            name="envs[<%=i%>][name]" value="<%=envVariableList[i].name%>" <%-envVariableList[i].name.length > 0 ? 'readonly tabindex="-1"' : ''%> />
                            </div>

                            <div class="col">
                                <% if (i==0) { %>
                                <label for="envType<%=i%>">Type</label>
                                <% } %>
                                <select id="envType<%=i%>" class="form-control" name="envs[<%=i%>][type]" onchange="typeToggleHandler(this)" data-row-index="<%=i%>">
                                    <option value="" disabled>Select a type</option>
                                    <option value="manual" selected>Manual</option>
                                    <option value="vault" <%-envVariableList[i].type==="select" ? 'disabled' : '' %> >Vault</option>
                                </select>
                            </div>

                            <div class="col">
                                <% if (i==0) { %>
                                    <label>Value</label>
                                <% } %>

                                <% if (envVariableList[i].type==="select") { %>
                                    <select id="envValue<%=i%>" name="envs[<%=i%>][value]" class="form-control" <%-envVariableList[i].required ? 'required' : '' %> >
                                        <option value="">Select an option</option>
                                        <% for (var option in envVariableList[i].options) { %>
                                            <option value="<%=envVariableList[i].options[option]%>"><%=envVariableList[i].options[option]%></option>
                                        <% } %>
                                    </select>
                                <% } else { %>

                                    <input id="envValue<%=i%>" type="<%=envVariableList[i].type%>" class="form-control" placeholder="Value"
                                        name="envs[<%=i%>][value]" <%-envVariableList[i].required ? 'required pattern="\\S(.*\\S)?"' : '' %> />
                        
                                    <!-- At least one non-whitespace character and no whitespace at the beginning or end of the input pattern="\S(.*\S)?" -->
                                    <!-- At least one non-whitespace character, but also allows whitespace characters (spaces, tabs, carriage returns, etc.) at the beginning or end pattern=".*\S+.*" -->
                        
                                    <select id="envPath<%=i%>" class="form-control" style="display: none;" name="envs[<%=i%>][path]" disabled
                                        <%-envVariableList[i].required ? 'required' : '' %>>
                                        <option value="" disabled selected>Select a path</option>
                                        <% for (var index in paths){%>
                                            <option value="<%=JSON.stringify(paths[index])%>">
                                                <%=`${paths[index].path}:${paths[index].key}`%>
                                            </option>
                                        <%} %>
                                    </select>

                                <% } %>
                            
                            </div>
                        </div>
                        <%} %>
                </div>
                <h3>Bind Mounts</h3>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="containerDestination">Container Destination</label>
                        <input type="text" class="form-control" id="containerDestination" 
                            placeholder="Container Destination Absolute Path" name="bindMount[containerDestination]"
                            data-toggle="tooltip" data-placement="bottom" title="Absolute path on the train container where the file/directory should be mounted."
                        >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="hostSource">Host Source</label>
                        <input type="text" class="form-control" id="hostSource" 
                            placeholder="Host Source Absolute Path" name="bindMount[hostSource]"
                            data-toggle="tooltip" data-placement="bottom" title="Absolute path on Docker-in-Docker container from where the file/directory needs to be mounted. The file/directory must exist."   
                        >
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="readOnlyCheck" name="bindMount[readOnly]">
                        <label for="readOnlyCheck">Read-Only</label>
                    </div>
                </div>
                <h3>Shared Memory Size</h3>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ShmSize">ShmSize</label>
                        <input type="number" class="form-control" id="ShmSize" min="1" 
                            placeholder="Size of /dev/shm in bytes" name="shmSize"
                            data-toggle="tooltip" data-placement="bottom" title="Size of /dev/shm in bytes. The size must be greater than 0. If omitted the system uses 64MB."
                        >
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a class="btn btn-secondary" href="/dashboard/images">Back</a>
            </form>

        </main>
    </div>
</div>

<script>
    function typeToggleHandler(element) {
        console.log(element)
        if (element.value == 'manual') {
            document.getElementById(`envPath${element.dataset.rowIndex}`).style.display = 'none';
            document.getElementById(`envPath${element.dataset.rowIndex}`).disabled = true;
            document.getElementById(`envValue${element.dataset.rowIndex}`).style.display = 'block';
            document.getElementById(`envValue${element.dataset.rowIndex}`).disabled = false;
        }
        else {
            document.getElementById(`envPath${element.dataset.rowIndex}`).style.display = 'block';
            document.getElementById(`envPath${element.dataset.rowIndex}`).disabled = false;
            document.getElementById(`envValue${element.dataset.rowIndex}`).style.display = 'none';
            document.getElementById(`envValue${element.dataset.rowIndex}`).disabled = true;
        }
    }
</script>
