<!-- Nav -->
<%- include('partials/nav', {active: ""}); %>

<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-12 float-left col px-5 px-md-3 py-3 main">
            <h1 class="display-3 hidden-xs-down">
                Error
            </h1>
            <% include ./partials/messages %>
        </main>
    </div>
</div>