<!-- Nav -->
<%- include('../partials/nav', {active: "vault"}); %>

<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-12 float-left col px-5 px-md-3 py-3 main">
            <h1>
                <%= vaultPath %>
            </h1>
            <% include ../partials/messages %>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="2">
                                    <div class="col p-0 text-right">
                                        <a href="/vault/kv/secret/edit/<%= encodeURIComponent(vaultPath) %>" class="btn btn-primary">Edit</a>
                                        <a href="/vault/kv/secret/delete/<%= encodeURIComponent(vaultPath) %>"
                                            class="btn btn-danger"
                                            onclick="return confirm('Delete this? This will permanently delete this secret and all its versions.')">Delete</a>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">Key</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% Object.keys(secretData).forEach((key,i) => { %>
                            <tr>
                                <td class="break-word font-weight-bold">
                                    <%= key %>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="secretValue<%=i%>" type="password" class="form-control" name="secretData[<%=i%>][value]"
                                            value="<%=secretData[key]%>" readonly>
                                    
                                        <div class="input-group-append">
                                            <button id="secretValue<%=i%>_toggleBtn" class="btn btn-outline-secondary" type="button"
                                                onclick="togglePasswordInputVisibility('<%=i%>')"><i class="fas fa-eye"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a class="btn btn-secondary" href="/vault/kv/secret/read/<%=encodeURIComponent(vaultPath.split('/').slice(0,-1).concat(['']).join('/'))%>">Back</a>
                </div>
            </div>
        </main>
    </div>
</div>

<script>

    function togglePasswordInputVisibility(rowIndex) {
        const inputElement = document.getElementById(`secretValue${rowIndex}`);
        const toggleBtnElement = document.getElementById(`secretValue${rowIndex}_toggleBtn`);
        console.log(inputElement);
        console.log(toggleBtnElement);
        if (inputElement.type === "password") {
            inputElement.type = "text";
            toggleBtnElement.innerHTML = '<i class="fas fa-eye-slash"></i>';
        }
        else if (inputElement.type === "text") {
            inputElement.type = "password";
            toggleBtnElement.innerHTML = '<i class="fas fa-eye"></i>';
        }
    }

</script>