<!-- Nav -->
<%- include('../partials/nav', {active: "vault"}); %>

<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-12 float-left col px-5 px-md-3 py-3 main">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="/vault">
                            kv engines
                        </a>
                    </li>

                    <% for(var i=0; i < vaultPathBreadcrumb.length; i++) { %>
            
                        <% if(i===vaultPathBreadcrumb.length - 1) { %>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%=vaultPathBreadcrumb[i].showName%>
                            </li>
                        <% } else { %>
                            <li class="breadcrumb-item"><a href="/vault/kv/secret/read/<%= encodeURIComponent(vaultPathBreadcrumb[i].href) %>">
                                    <%=vaultPathBreadcrumb[i].showName%>
                                </a>
                            </li>
                        <% } %>
            
                    <% } %>
            
                </ol>
            </nav>

            <% include ../partials/messages %>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="2">
                                    <div class="col p-0 text-right">
                                        <a href="/vault/kv/secret/create/<%= encodeURIComponent(vaultPath) %>" class="btn btn-primary">Create Secret</a>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">Path</th>
                                <th scope="col" class="w-operations-btn">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < paths.length; i++) { %>
                            <tr>
                                <td class="break-word font-weight-bold">
                                    <a onclick="buildUrl(this, '<%= paths[i] %>' )" href=""><%= paths[i] %></a>
                                </td>
                                <td>
                                    <% if (!paths[i].endsWith("/")) { %>
                                        <a href="/vault/kv/secret/edit/<%= encodeURIComponent(vaultPath + paths[i]) %>" class="btn btn-primary float-right my-2 my-sm-0 btn-block">Edit</a>
                                        <a href="/vault/kv/secret/delete/<%= encodeURIComponent(vaultPath + paths[i]) %>"
                                            class="btn btn-danger float-right my-2 my-sm-0 btn-block"
                                            onclick="return confirm('Delete this? This will permanently delete this secret and all its versions.')">Delete</a>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    //build relative url
    function buildUrl(item, subPath) {
        console.log(subPath);
        item.href = window.location.href + encodeURIComponent(subPath);
        console.log(item.href)
        return true;
    }
</script>