<!-- Nav -->
<%- include('../partials/nav', {active: "vault"}); %>

<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-12 float-left col px-5 px-md-3 py-3 main">
            <h1>
                Sign in to Vault
            </h1>
            <% include ../partials/messages %>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <form action="/vault/set-token" method="POST" enctype="application/json">
    
                    <div class="form-group">
    
                        <div class="form-row mb-2">
                            <div class="col">
                                <label for="token">Token</label>
                                <input id="token" type="password" class="form-control" name="token" required>
                            </div>
                        </div>
    
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>